# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments and dependencies
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Virtualization and OS artifacts
.DS_Store
Thumbs.db
.docker/

# Platform Data/Model Registry Exclusions
# We explicitly block tracking logs and data mirrors to optimize git pushing speed
backend/mlflow.db
backend/mlflow/
backend/outputs/
# Ensure the data directory structure itself is tracked
!data/

# Explicitly whitelist your evaluation datasets so Git tracks them
!data/Churn_Modelling.csv
!data/credit_risk_dataset.csv
!data/diabetic_data.csv
!data/housing.csv

